In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

In [2]:
CreditRisk =pd.read_csv('credit_risk_dataset.csv')
CreditRisk.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [3]:
CreditRisk.shape

(32581, 12)

In [4]:
CreditRiskCopy=  CreditRisk.copy()

In [5]:
cr_age_rmvd = CreditRisk[CreditRisk['person_age']<=70]
cr_age_rmvd.reset_index(drop = True, inplace = True)
cr_age_rmvd.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [6]:
person_emp_rmvd= cr_age_rmvd[cr_age_rmvd['person_emp_length']<47]
person_emp_rmvd.reset_index(drop = True, inplace = True)
person_emp_rmvd.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
1,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
2,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
3,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
4,21,9900,OWN,2.0,VENTURE,A,2500,7.14,1,0.25,N,2

In [7]:
person_emp_rmvd.isnull().sum()

person_age                       0
person_income                    0
person_home_ownership            0
person_emp_length                0
loan_intent                      0
loan_grade                       0
loan_amnt                        0
loan_int_rate                 3045
loan_status                      0
loan_percent_income              0
cb_person_default_on_file        0
cb_person_cred_hist_length       0
dtype: int64

In [8]:
crData=person_emp_rmvd.copy()
crData.shape

(31671, 12)

In [9]:
crData.fillna({'loan_int_rate':crData['loan_int_rate'].median()},inplace = True)
crData.isnull().sum()

person_age                    0
person_income                 0
person_home_ownership         0
person_emp_length             0
loan_intent                   0
loan_grade                    0
loan_amnt                     0
loan_int_rate                 0
loan_status                   0
loan_percent_income           0
cb_person_default_on_file     0
cb_person_cred_hist_length    0
dtype: int64

In [10]:
crData.describe()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length
count,31671.000000,3.167100e+04,31671.000000,31671.000000,31671.000000,31671.000000,31671.000000,31671.000000
mean,27.717754,6.649231e+04,4.780714,9660.637492,11.035256,0.215497,0.169621,5.804395
std,6.159859,5.277413e+04,4.028718,6334.716643,3.070364,0.411173,0.106275,4.048776
min,20.000000,4.000000e+03,0.000000,500.000000,5.420000,0.000000,0.000000,2.000000
25%,23.000000,3.936600e+04,2.000000,5000.000000,8.490000,0.000000,0.090000,3.000000
50%,26.000000,5.600000e+04,4.000000,8000.000000,10.990000,0.000000,0.150000,4.000000
75%,30.000000,8.000000e+04,7.000000,12500.000000,13.160000,0.000000,0.230000,8.000000
max,70.000000,2.039784e+06,38.000000,35000.000000,23.220000,1.000000,0.830000,30.000000

In [11]:
crDataCopy =crData.drop('loan_grade', axis=1)
display(crDataCopy.shape)
crDataCopy.head()

(31671, 11)

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,21,9600,OWN,5.0,EDUCATION,1000,11.14,0,0.10,N,2
1,25,9600,MORTGAGE,1.0,MEDICAL,5500,12.87,1,0.57,N,3
2,23,65500,RENT,4.0,MEDICAL,35000,15.23,1,0.53,N,2
3,24,54400,RENT,8.0,MEDICAL,35000,14.27,1,0.55,Y,4
4,21,9900,OWN,2.0,VENTURE,2500,7.14,1,0.25,N,2

## Categorical Features Treament

In [12]:
crdataCat_tmnt = crDataCopy.copy()

In [13]:
person_home_ownership=pd.get_dummies (crdataCat_tmnt['person_home_ownership'],drop_first=True).astype(int)
loan_intent= pd.get_dummies (crdataCat_tmnt['loan_intent'],drop_first=True).astype(int)
crdataCat_tmnt ['cb_person_default_on_file_binary'] = np.where(crdataCat_tmnt['cb_person_default_on_file']=='Y',1,0)
crdataCat_tmnt.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,cb_person_default_on_file_binary
0,21,9600,OWN,5.0,EDUCATION,1000,11.14,0,0.10,N,2,0
1,25,9600,MORTGAGE,1.0,MEDICAL,5500,12.87,1,0.57,N,3,0
2,23,65500,RENT,4.0,MEDICAL,35000,15.23,1,0.53,N,2,0
3,24,54400,RENT,8.0,MEDICAL,35000,14.27,1,0.55,Y,4,1
4,21,9900,OWN,2.0,VENTURE,2500,7.14,1,0.25,N,2,0

In [14]:
Datascaling= crdataCat_tmnt.drop(['person_home_ownership','loan_intent','loan_status','cb_person_default_on_file','cb_person_default_on_file_binary'],axis =1)
Datascaling.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length
0,21,9600,5.0,1000,11.14,0.10,2
1,25,9600,1.0,5500,12.87,0.57,3
2,23,65500,4.0,35000,15.23,0.53,2
3,24,54400,8.0,35000,14.27,0.55,4
4,21,9900,2.0,2500,7.14,0.25,2

In [15]:
scaler= StandardScaler ()
scaledData = scaler.fit_transform(Datascaling)
scaled_df= pd.DataFrame(scaledData, columns = ['person_age', 'person_income', 'person_emp_length', 'loan_amnt',
       'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length'])
scaled_df.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length
0,-1.090587,-1.078051,0.054432,-1.367192,0.034115,-0.655113,-0.939656
1,-0.441211,-1.078051,-0.938456,-0.656810,0.597575,3.767461,-0.692664
2,-0.765899,-0.018803,-0.193790,4.000141,1.366226,3.391072,-0.939656
3,-0.603555,-0.229137,0.799097,4.000141,1.053554,3.579267,-0.445671
4,-1.090587,-1.072366,-0.690234,-1.130398,-1.268682,0.756347,-0.939656

In [16]:
scaled_data_combined = pd.concat([scaled_df,person_home_ownership,loan_intent],axis = 1)
scaled_data_combined['cb_person_default_on_file'] = crdataCat_tmnt['cb_person_default_on_file_binary']
scaled_data_combined['loan_status'] = crdataCat_tmnt['loan_status']
scaled_data_combined.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,OTHER,OWN,RENT,EDUCATION,HOMEIMPROVEMENT,MEDICAL,PERSONAL,VENTURE,cb_person_default_on_file,loan_status
0,-1.090587,-1.078051,0.054432,-1.367192,0.034115,-0.655113,-0.939656,0,1,0,1,0,0,0,0,0,0
1,-0.441211,-1.078051,-0.938456,-0.656810,0.597575,3.767461,-0.692664,0,0,0,0,0,1,0,0,0,1
2,-0.765899,-0.018803,-0.193790,4.000141,1.366226,3.391072,-0.939656,0,0,1,0,0,1,0,0,0,1
3,-0.603555,-0.229137,0.799097,4.000141,1.053554,3.579267,-0.445671,0,0,1,0,0,1,0,0,1,1
4,-1.090587,-1.072366,-0.690234,-1.130398,-1.268682,0.756347,-0.939656,0,1,0,0,0,0,0,1,0,1

In [17]:
target = scaled_data_combined['loan_status']
features = scaled_data_combined.drop('loan_status', axis = 1 )
features.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,OTHER,OWN,RENT,EDUCATION,HOMEIMPROVEMENT,MEDICAL,PERSONAL,VENTURE,cb_person_default_on_file
0,-1.090587,-1.078051,0.054432,-1.367192,0.034115,-0.655113,-0.939656,0,1,0,1,0,0,0,0,0
1,-0.441211,-1.078051,-0.938456,-0.656810,0.597575,3.767461,-0.692664,0,0,0,0,0,1,0,0,0
2,-0.765899,-0.018803,-0.193790,4.000141,1.366226,3.391072,-0.939656,0,0,1,0,0,1,0,0,0
3,-0.603555,-0.229137,0.799097,4.000141,1.053554,3.579267,-0.445671,0,0,1,0,0,1,0,0,1
4,-1.090587,-1.072366,-0.690234,-1.130398,-1.268682,0.756347,-0.939656,0,1,0,0,0,0,0,1,0

## SMOTE - Synthetic Minority Over-Sampling technique

In [18]:
from imblearn.over_sampling import SMOTE
smote= SMOTE()
balanced_features, balanced_target = smote.fit_resample(features, target)

In [19]:
balanced_target.shape# there is an increase because of oversampling of minority class, in our case the loan status of 1 , so it has created synthetic data for that class to balance

(49692,)

In [20]:
balanced_target_df = pd.DataFrame ({'target': balanced_target})
balanced_target_df.groupby('target').size()

target
0    24846
1    24846
dtype: int64

## Models Training

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, roc_curve, auc

In [22]:
x_train, x_test, y_train, y_test = train_test_split (balanced_features, balanced_target, test_size=0.20, random_state=42)
logit = LogisticRegression()
logit.fit(x_train, y_train)

LogisticRegression()

In [23]:
logit.score(x_train,y_train)

0.7839156793197998

In [24]:
logit_prediction = logit.predict(x_test)
print(classification_report(y_test, logit_prediction))
print(logit.coef_[0])

features_imp_logit = pd.DataFrame ({'features' :balanced_features.columns,'logit_imp' : logit.coef_[0]})
features_imp_logit.sort_values(by= 'logit_imp', ascending=False)

              precision    recall  f1-score   support

           0       0.78      0.78      0.78      4995
           1       0.78      0.78      0.78      4944

    accuracy                           0.78      9939
   macro avg       0.78      0.78      0.78      9939
weighted avg       0.78      0.78      0.78      9939

[-0.08243475  0.07150214 -0.0395091  -0.68542628  0.98688912  1.40674663
  0.02563827 -0.72534407 -2.08116806  0.43964818 -1.22606588 -0.34289252
 -0.53655311 -0.97975146 -1.51977809  0.07162303]

                      features  logit_imp
5          loan_percent_income   1.406747
4                loan_int_rate   0.986889
9                         RENT   0.439648
15   cb_person_default_on_file   0.071623
1                person_income   0.071502
6   cb_person_cred_hist_length   0.025638
2            person_emp_length  -0.039509
0                   person_age  -0.082435
11             HOMEIMPROVEMENT  -0.342893
12                     MEDICAL  -0.536553
3                    loan_amnt  -0.685426
7                        OTHER  -0.725344
13                    PERSONAL  -0.979751
10                   EDUCATION  -1.226066
14                     VENTURE  -1.519778
8                          OWN  -2.081168

## RandomForest

In [25]:
rf= RandomForestClassifier ()
rf.fit (x_train, y_train)

RandomForestClassifier()

In [26]:
rf.score(x_train, y_train)

1.0

In [27]:
rf_prediction = rf.predict(x_test)
rf_prediction

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [28]:
print(classification_report(y_test,rf_prediction))

              precision    recall  f1-score   support

           0       0.92      0.97      0.94      4995
           1       0.97      0.91      0.94      4944

    accuracy                           0.94      9939
   macro avg       0.94      0.94      0.94      9939
weighted avg       0.94      0.94      0.94      9939

In [29]:
rf.feature_importances_

array([0.06107162, 0.1451636 , 0.07391347, 0.08074122, 0.21024927,
       0.21020241, 0.05879461, 0.00043208, 0.02043901, 0.04881625,
       0.01552809, 0.01657266, 0.00873365, 0.01322343, 0.01798803,
       0.01813062])

In [30]:
features_imp_rf = pd.DataFrame ({'features' :balanced_features.columns,'rf_imp' : rf.feature_importances_})

## XGboost

In [31]:
xgb_model = XGBClassifier(tree_method = 'exact')

In [32]:
#model.fit(x,y.values,ravel())
xgb_model.fit(x_train,y_train.values.ravel())

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, random_state=None, ...)

In [33]:
xgb_model.score(x_train,y_train.values.ravel())

0.9653611048222775

In [34]:
xgb_prediction = xgb_model.predict(x_test)
xgb_prediction

array([0, 0, 0, ..., 0, 0, 1])

In [35]:
print(classification_report(y_test, xgb_prediction))

              precision    recall  f1-score   support

           0       0.92      0.98      0.95      4995
           1       0.98      0.91      0.95      4944

    accuracy                           0.95      9939
   macro avg       0.95      0.95      0.95      9939
weighted avg       0.95      0.95      0.95      9939

In [36]:
features_imp_xgb = pd.DataFrame ({'features' :balanced_features.columns,'xgb_imp' : xgb_model.feature_importances_})
features_imp_xgb.sort_values(by= 'xgb_imp', ascending=False)

                      features   xgb_imp
8                          OWN  0.182847
5          loan_percent_income  0.132215
9                         RENT  0.110513
14                     VENTURE  0.085945
4                loan_int_rate  0.074015
6   cb_person_cred_hist_length  0.068331
10                   EDUCATION  0.065449
2            person_emp_length  0.059251
11             HOMEIMPROVEMENT  0.054802
0                   person_age  0.040323
13                    PERSONAL  0.039050
1                person_income  0.038142
15   cb_person_default_on_file  0.017720
12                     MEDICAL  0.014675
3                    loan_amnt  0.010093
7                        OTHER  0.006627

In [37]:
features_imp=pd.concat([features_imp_logit,features_imp_rf,features_imp_xgb],axis=1)
features_imp

,features,logit_imp,features,rf_imp,features,xgb_imp
0,person_age,-0.082435,person_age,0.061072,person_age,0.040323
1,person_income,0.071502,person_income,0.145164,person_income,0.038142
2,person_emp_length,-0.039509,person_emp_length,0.073913,person_emp_length,0.059251
3,loan_amnt,-0.685426,loan_amnt,0.080741,loan_amnt,0.010093
4,loan_int_rate,0.986889,loan_int_rate,0.210249,loan_int_rate,0.074015
5,loan_percent_income,1.406747,loan_percent_income,0.210202,loan_percent_income,0.132215
6,cb_person_cred_hist_length,0.025638,cb_person_cred_hist_length,0.058795,cb_person_cred_hist_length,0.068331
7,OTHER,-0.725344,OTHER,0.000432,OTHER,0.006627
8,OWN,-2.081168,OWN,0.020439,OWN,0.182847
9,RENT,0.439648,RENT,0.048816,RENT,0.110513
10,EDUCATION,-1.226066,EDUCATION,0.015528,EDUCATION,0.065449
11,HOMEIMPROVEMENT,-0.342893,HOMEIMPROVEMENT,0.016573,HOMEIMPROVEMENT,0.054802
12,MEDICAL,-0.536553,MEDICAL,0.008734,MEDICAL,0.014675
13,PERSONAL,-0.979751,PERSONAL,0.013223,PERSONAL,0.039050
14,VENTURE,-1.519778,VENTURE,0.017988,VENTURE,0.085945
15,cb_person_default_on_file,0.071623,cb_person_default_on_file,0.018131,cb_person_default_on_file,0.017720

## Model Comparison

In [38]:
logit_accuracy = accuracy_score(y_test, logit_prediction)
logit_fscore = f1_score(y_test, logit_prediction)
logit_recall = recall_score(y_test, logit_prediction)
logit_precision = precision_score(y_test, logit_prediction)
logit_confusion = confusion_matrix(y_test, logit_prediction)


rf_accuracy = accuracy_score(y_test, rf_prediction)
rf_fscore = f1_score(y_test, rf_prediction)
rf_recall = recall_score(y_test, rf_prediction)
rf_precision = precision_score(y_test, rf_prediction)
rf_confusion = confusion_matrix(y_test, rf_prediction)

xgb_model_accuracy = accuracy_score(y_test, xgb_prediction)
xgb_model_fscore = f1_score(y_test, xgb_prediction)
xgb_model_recall = recall_score(y_test, xgb_prediction)
xgb_model_precision = precision_score(y_test, xgb_prediction)
xgb_model_confusion = confusion_matrix(y_test, xgb_prediction)

In [39]:
data_comparison = [[logit_accuracy,logit_fscore,logit_recall,logit_precision],
                  [rf_accuracy,rf_fscore,rf_recall,rf_precision],
                  [xgb_model_accuracy,xgb_model_fscore,xgb_model_recall,xgb_model_precision]]

comparison = pd.DataFrame(data_comparison,index= ['Logistic regression','Random Forest','XGboost'],
                                 columns=['Accuracy','f1_score','Recall','Precision'])

In [40]:
print ('Model comparison, lr except ')
comparison

Model comparison, lr except

                     Accuracy  f1_score    Recall  Precision
Logistic regression  0.783781  0.782688  0.782767   0.782609
Random Forest        0.938927  0.936804  0.909992   0.965244
XGboost              0.948083  0.945935  0.913026   0.981304